body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background: #000;
}
.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero-section {
    position: relative;
    margin-bottom: 3rem;
}
.hero-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
}
.max-width {
    max-width: 1400px;
}
.section {
    padding: 5% 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.hero-header {
    text-align: center;
}
.section-img {
    border-radius: 8px;
    width: 100%;
}

.heading {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.intro-content {
    max-width: 600px;
    color: #fff;
}

.reverse {
    flex-direction: row-reverse;
}
.white {
    background: #fff;
}
.text-black {
    color: #000 !important;
}
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    margin-top: 15px;
}

textarea {
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    margin-top: 15px;
}

.send-btn {
    padding: 10px 20px;
    color: #000;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #000;
    width: 100%;
}

.send-btn:hover {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
}
.icon {
    width: 50px;
}
.icon-phone {
    max-width: 50px;
}
.desc {
    font-family: 'Roboto';
}
.personal-info {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.profile-image {
    max-width: 400px;
}
.music-img {
    max-width: 600px;
}

@media only screen and (max-width: 1500px) {
    .section {
        flex-direction: column-reverse;
        padding: 4rem 20px;
    }
    .section-img {
        margin-top: 3rem;
    }
    .hero-header {
        font-size: 2rem;
    }
  }